<%- include('top'); -%>

    <form action="/raw" method="POST">
        <div class="field is-grouped">
            <p class="control">
                <input class="input" type="text" name="query" placeholder="Keress...">
            </p>
            <p class="control">
                <input type="submit" class="button is-link" value="Mehet!">
            </p>
        </div>
    </form>
    <br>

<% if(locals.results){%>
    <script>
        let results = <%- JSON.stringify(results) %>
    </script>
    <script>
        function downloadTorrent(id) {
            fetch('/download', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({torrents:results.filter(el2 => el2.id==id)})
            })
            .then(response => {
                if(response.status==200)
                {
                    Swal.fire(
                    'Siker!',"",
                    'success'
                    )
                }
                else
                {
                    console.log(response)
                    Swal.fire(
                    'Gáz van!',
                    'Valami rossz választ kaptál: '+response.statusText,
                    'error'
                    )
                }
                results = <%- JSON.stringify(results) %>;

            })
        }
    </script>
    <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Seeders</th>
            <th>Leechers</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
            <% results.forEach(el=> {%>
                <tr>
                    <td><%= el.name%></td>
                    <td>                        
                    <span class="tag is-info">
                        <%=el.type.alt%>
                    </span>
                    <span class="tag is-info">
                        <%=el.type.type3%>
                    </span></td>
                    <td><%= el.size%></td>
                    <td><%= el.seeders%></td>
                    <td><%= el.leechers%></td>
                    <td><a onclick="downloadTorrent('<%= el.id%>')" class="button is-success">Letöltés</a></td>
                </tr>
            <%})%>
            </tbody>
        </table>

<%}%>
<%- include('bottom'); -%>